body {
    background-image: url(../Imagens1/livro2.jpg);    
    width: 100%;
    height: 100%;   
    background-size: 100%;
}

.container {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.cabeçalho {
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {    
    font-style: initial;
    font-size: 80px;
    color: white;    
}    

h2 {
    font-family: 'Trebuchet MS';
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.narrativa2   {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

.narrativa2 p {
    font-style: oblique;
    font-size: 40px;
    color: white;
    text-align: center;
}

.personagens {
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    height: 700px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}

.personagens img {
    border-radius: 12px;
    width: 300px;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.personagens p a {
    width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    list-style: none;
}

footer p {
    font-size: 15px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.personagens p a:hover {

    background-color: white;
    font-style: oblique;
    color: black;
    
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

@media(max-width:700px){

    .container{
        width: 100%; 
                
    }

    main {
        display:flex;
        flex-direction: column;
        
    }

    .cabeçalho a h1{
        display: flex;
    }

    .narrativa2 {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
         
    }

    .personagens  {        
        flex-wrap: wrap;
        height: 100%;
        
    }

    .personagens p a {
        display: flex;
        flex-direction: column;
    }

    footer p {
        display: flex;
        
    }




            
        
}