body  {
    background-image: url(../Imagens1/livro2.jpg);
    width: 100%;
    height: 100%;
}

h1 {
    
        font-family: 'Trebuchet MS';
        font-size: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

.narrativaparabens  {
    
        font-family: 'Trebuchet MS';
        font-size: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

footer p {
    font-size: 15px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.cabeçalho p a {
    font-size: 15px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}